/* text colour */
d-article {
  color: #00FF00;
}

h1 {
  color: #0000FF;
}

/* appearance of tags in index */
d-article .posts-list .dt-tags .dt-tag {
  font-size: 55%;
  color: red;
  padding: 0.2em 0.2em;
  margin-bottom: 0;
  line-height: 1.5em;
}

/* appearance of tags in article */
.dt-tags .dt-tag {
  font-size: 60%;
  color: red;
  padding: 0.2em 0.2em;
  margin-bottom: 0;
  line-height: 1.5em;
}

/* appearance of tags in article */
d-title .dt-tags {
  margin-top: 0;
}
