body {
  background-color: rgb(16, 14, 23);
}

/* nav bar itself */
header, nav, nav-left, nav-right {
  height: 45px;
}

.distill-site-header {
  background-color: rgb(16, 14, 23);
  font-weight: bold;
  color: #F78A21;
  border-bottom: 1px solid #F78A21;
}

/* nav bar items */
.distill-site-header .title {
  min-width: 100px;
  padding: 10px 8px 10px 8px;
}

.distill-site-header a {
  padding: 10px 8px 10px 8px;
}

.distill-site-header a:hover {
  color: #FFCC00;
}

.distill-site-header .nav-left {
  text-align: left;
  display: inline-flex;
  align-items: center;
}

.distill-site-header .logo img {
  max-height: 37px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.distill-site-header .logo {
  height: 45px;
}

@media screen and (max-width: 768px) {
  
  /* length of open nav bar in mobile width */
  .distill-site-header.responsive {
    position: relative;
    min-height: 200px;
  }
  
  /* post padding in index */
  .posts-with-sidebar {
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* hide index title */
.posts-list .posts-list-caption {
  display: none;
}

/* hide author in posts list */
.posts-list .metadata .dt-authors {
  display: none;
}

/* tag appearance in index */
d-article .posts-list .dt-tags .dt-tag {
  font-size: 55%;
  padding: 0.2em 0.2em;
  margin-bottom: 0;
  line-height: 1.5em;
}

/* tag appearance in article */
.dt-tags .dt-tag {
  font-size: 60%;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.2em 0.2em;
  margin-bottom: 0;
  line-height: 1.5em;
}

/* tag appearance in article */
d-title .dt-tags {
  margin-top: 0;
}

d-title p {
  margin-bottom: 0;
}

/* byline padding in article */
d-byline {
  padding: 0.5rem 0;
  color: #FFFFFF;
}

d-byline a {
  color: #FFFFFF;
}

/* byline heading colour in article */
d-byline h3 {
  color: #F78A21;
  font-weight: bold;
}

/* byline margin for author and affiliation heading*/
d-byline .byline h3 {
    margin-top: 0;
}

/* byline margin for published and citation heading*/
d-byline .byline .authors-affiliations h3 {
    margin-top: 0;
}

/* byline grid order*/
d-byline .byline {
  display: grid;
  height: auto-fit;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: 50px;
}

/* text colour */
d-article {
  color: inherit;
}

.categories {
  color: #FFFFFF;
}

.categories a {
  color: #FFFFFF;
}

.posts-list {
  color: #FFFFFF;
}

@media (min-width: 768px) {
  /* post padding in index */
  .posts-with-sidebar {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 1180px) {
  /* post padding in index */
  .posts-with-sidebar {
    padding-left: 45px;
    padding-right: 45px;
  }
}
