d-title {
  background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(255, 255, 255, 0.68), 
      rgba(255, 255, 255, 0.68)
    ),
    /* bottom, image */
    url(title-image.jpg) no-repeat top left fixed;
    background-position: cover;
}

d-title h1 {
  background-color: rgba(77, 77, 77, 0);
  border-radius: 3px;
}

d-title p {
  background-color: rgba(77, 77, 77, 0);
  border-radius: 3px;
}

@media (min-width: 768px) {
  d-article {
    grid-template-columns: [screen-start] 1fr [page-start kicker-start middle-start] 0px [text-start] 50px 50px 50px 50px 50px 50px 50px 50px [ kicker-end text-end gutter-start] 24px [middle-end] 58px [page-end gutter-end] 1fr [screen-end];
    grid-column-gap: 22px;
    background-color: pink;
    display: grid;
    margin: 0 auto;
    max-width: 720px;
  }
  
  d-article div.sourceCode pre {
    font-size: 12px;
  }
}

@media (min-width: 1000px) {
  d-article {
    grid-template-columns: [screen-start] 1fr [page-start kicker-start middle-start] 20px [text-start kicker-end] 56px 56px 56px 56px 56px 56px 56px 56px [text-end gutter-start] 42px [middle-end] 68px [page-end gutter-end] 1fr [screen-end];
    grid-column-gap: 28px;
    background-color: blue;
    display: grid;
    margin: 0 auto;
    max-width: 888px;
  }
}

@media (min-width: 1180px) {
  d-article {
    grid-template-columns: [screen-start] 1fr [page-start kicker-start middle-start] 20px [text-start kicker-end] 62px 62px 62px 62px 62px 62px 62px 62px [text-end gutter-start] 42px [middle-end] 70px [page-end gutter-end] 1fr [screen-end];
    grid-column-gap: 28px;
    background-color: white;
    display: grid;
    margin: 0 auto;
    max-width: 988px;
  }
}
