d-title {
  background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(255, 255, 255, 0.65), 
      rgba(255, 255, 255, 0.65)
    ),
    /* bottom, image */
    url(https://i.pinimg.com/originals/77/7f/7c/777f7cee193f894ac4ff51575c793ac0.jpg) no-repeat top center fixed;
}

d-title h1 {
  background-color: rgba(77, 77, 77, 0);
  border-radius: 3px;
}

d-title p {
  background-color: rgba(77, 77, 77, 0);
  border-radius: 3px;
}
