d-title {
  background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(255, 255, 255, 0.68), 
      rgba(255, 255, 255, 0.68)
    ),
    /* bottom, image */
    url(title-image.jpg) no-repeat top left fixed;
    background-position: cover;
}

d-title h1 {
  background-color: rgba(77, 77, 77, 0);
  border-radius: 3px;
}

d-title p {
  background-color: rgba(77, 77, 77, 0);
  border-radius: 3px;
}
